body {
    background-color: lightgray;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.top-of-page {
    background-color: white;
    width: 100%;
    padding: 10px;
    text-align: center;
    margin-bottom: 50px;
}

h1 {
    margin: 0;
    letter-spacing: 2px;
}

.post {
    background: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 100px;
}

.post-heading {
    display: flex;
    align-items: center;
}

h3 {
    width: 90%;
    margin: 0;
    margin-left: 5px;
}

.date {
    color: grey
}

.post-image {
    width: 500px;
    height: 400px;
    background-color: grey;
}

img {
    width: 500px;
    height: 400px;
    object-fit: cover;
}

.post-comment {
    width: 500px;
}

.post-comment p {
    margin-bottom: 0;
}